


// 全局
$border_radius: 12px;
$input_border_color: #fca41d;


.default-bg {
  padding: 2em 1em;
  background: url('./../images/talking_pets_bg.jpg') repeat 0 0;
  background-size: cover;
  background-attachment: fixed;
}

.section-box {
  padding: 2em 2em 8em;
  background-color: #fff;
  border-radius: $border_radius;

  .weui-article {
    text-align: center;
    border-bottom: 1px dotted #c3c3c3;
    margin-bottom: 4em;

    h1 {
      color: #ff651a;
    }
  }
}

.weui-cell_vcode {
  display: flex;

  .input-code {
    width: 36%;
  }
  .code-btn {
    width: 54%;
  }
  .weui-vcode-btn {
    padding: 0;
    width: 92%;
    text-align: center;
    margin-left: .7em;
    color: #fff;
    background-color: #fca41d;
  }
}
.pets-btn-area {
  padding: 15px 60px 0;
  .weui-btn {
    line-height: 2.8em;
    border-radius: 1.4em;
    background: -webkit-gradient(linear, 0 top, 0 bottom, from(rgb(254, 169, 59)), to(rgb(254, 79, 15)));
    box-shadow:0px 4px 6px #FEA93B;
    &:active {
      background: -webkit-gradient(linear, 0 top, 0 bottom, from(rgb(252, 185, 98)), to(rgb(248, 101, 47)));
    }
  }
}
.next-btn-area {
  padding: 6em 0 0;
}

.choice-type {
  display: flex;

  .type-cell {
    flex: 1;
    padding: .8em;

    .img-box {
      position: relative;
      .type-img {
        width: 100%;
      }

      .choice-true, .choice-false {
        width: 2.2em;
        height: 2.2em;
        position: absolute;
        right: 0;
        bottom: 0;
      } 
    }
    p {
      text-align: center;
    }
  }
}

.addr-picker {
  display: flex;

  .weui-cell {
    flex: 1;
    position: relative;
    font-size: 14px;
    &:first-child,
    &:nth-child(2) {
      margin-right: 1em;
    }
    i {
      display: block;
      width: 8px;
      height: 15px;
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-52%);
      background: url('./../images/addr-more.png') no-repeat;
      background-size: cover;
    }
  }
}
.weui-textarea {
  box-sizing: border-box;
  padding: .7em;
  border-radius: .6em;
  border: 1px solid $input_border_color;
}
































