
// 全局
$border_radius: 12px;

.index_page {
  background-color: #f5ebdf;
  .banner {
    img {
      width: 100%;
    }
  }

  .entrance {
    padding-top: 0;
    position: relative;
    top:  -30px;
    text-align: left;
  }
  
  .pannl-box {
    padding: 15px;
    border-radius: $border_radius;
    background-color: #fff;
  }
  
  .tips-word {
    margin-bottom: 10px;
    position: relative;
    .title {
      color: #ef3e42;
      font-weight: bold;
    }
    h3 {
      font-weight: 400;
      line-height: 1.8;
      margin-bottom: 0;
    }
    p {
      margin-bottom: 0;
    }
    img {
      width: 80px;
      height: 40px;
      position: absolute;
      left: 24px;
      top: -30px;
    }
  }
  
  .account-box {
    padding: 15px;
    border-radius: $border_radius;
    background-color: #fff;

    .title {
      margin-bottom: 0;
      text-align: center;
    }
    .account-type {
      display: flex;

      .type-cell {
        flex: 1;
        padding: .8em .8em 0;
    
        .img-box {
          width: 100px;
          margin: 0 auto;
          position: relative;
          .type-img {
            display: block;
            width: 100px;
            max-width: 120px;
            margin: 0 auto .6em;
          }
    
          .choice-true, .choice-false {
            width: 2.2em;
            height: 2.2em;
            position: absolute;
            right: -6px;
            top: 4px;
          } 
        }
        p {
          text-align: center;
          margin-bottom: 0;
        }
      }

    }
  }
}



































