


// 全局
$border_radius: 12px;
$input_border_color: #fca41d;

html, body {
  height: 100%;
  line-height: 1.6;
  box-sizing: border-box;
  font-family: -apple-system-font, "Helvetica Neue", sans-serif;
}
body {

}
.weui-cells {
  &:before {
    border: none;
  }
  &:after {
    border: none;
  }
}
.weui-vcode-btn {
  border: none;
}
.input-border {
  border: 1px solid $input_border_color;
  border-radius: 24px;
}

.phone-code {
  margin-top: 15px;

  .weui-cell {
    display: inline-block;
    &:first-child {
      width: 34%;
    }
    &:last-child {
      width: 44%;
    }
  }
  .get-code-btn {
    background-color: $input_border_color;
    border-radius: 24px;
  }
  .weui-vcode-btn {
    display: initial;
    line-height: inherit;
    color: #fff;
    padding: 0;
  }
}
.pets-btn-area {
  padding: 30px 60px 0;
  .weui-btn {
    line-height: 2.8em;
    border-radius: 1.4em;
    background: -webkit-gradient(linear, 0 top, 0 bottom, from(rgb(254, 169, 59)), to(rgb(254, 79, 15)));
    box-shadow:0px 4px 6px #FEA93B;
    &:active {
      background: -webkit-gradient(linear, 0 top, 0 bottom, from(rgb(252, 185, 98)), to(rgb(248, 101, 47)));
    }
  }
}

@import "global";
@import "index_page";
@import "submitsuccess_page";
@import "medio";




































