
// 全局
.page__hd {
  padding: 40px;
  text-align: center;
}

.page__title {
  font-size: 20px;
  font-weight: 400;
}

.page__desc {
  margin-top: 5px;
  color: #888;
  font-size: 14px;
}

.QR-code {
  display: block;
  width: 120px;
  height: 120px;
  margin: 15px auto;
}

.weui-article {
  text-align: center;
}

.weui-vcode-count-down {
  -webkit-tap-highlight-color: transparent;
  display: none;
  width: 86px;
  height: 45px;
  margin-left: 0;
  padding: 0 .6em 0 .7em;
  border-left: 1px solid #e5e5e5;
  line-height: 45px;
  font-size: 17px;
  color: #000;
  text-align: center;
  vertical-align: middle;
}

.button-sp-area {
  padding: 40px;
}

.weui-footer_fixed-bottom {
  position: fixed;
  bottom: .52em;
  left: 0;
  right: 0;
}




































