
// 全局
$border_radius: 12px;

.submitsuccess-page {
  .weui-article {
    padding-top: 0;
  }
  h1 {
    font-size: 18px;
    margin-bottom: 0;
  }
  p {
    margin-bottom: 0;
  }
  .QR-code {
    width: 60%;
    max-width: 172px;
  }
}
































