@import "../../base/fn";

.#{$weui_ns}loadmore{
    // width: 65%;
    margin: 0 auto;
    line-height: 1.6em;
    font-size:18px;
    text-align: center;
}
.#{$weui_ns}loadmore__tips{
    display: inline-block;
    vertical-align: middle;
}

.#{$weui_ns}loadmore_line{
    border-top:1px solid $weuiLineColorLight;
    margin-top: 2em;
    .#{$weui_ns}loadmore__tips{
        position: relative;
        top:-.9em;
        padding:0 .55em;
        background-color: #FFFFFF;
        // color:$weuiTextColorGray;
        color: #000;
    }
}
.#{$weui_ns}loadmore_dot{
    .#{$weui_ns}loadmore__tips{
        padding:0 .16em;
        &:before{
            content: " ";
            width:4px;
            height:4px;
            border-radius:50%;
            background-color: $weuiLineColorLight;
            display: inline-block;
            position: relative;
            vertical-align: 0;
            top:-.16em;
        }
    }
}
